[submodule "core"]
	shallow = true
	path = vendor/core
	url = https://android.googlesource.com/platform/system/core.git
[submodule "extras"]
	shallow = true
	path = vendor/extras
	url = https://android.googlesource.com/platform/system/extras.git
[submodule "selinux"]
	shallow = true
	path = vendor/selinux
	url = https://android.googlesource.com/platform/external/selinux.git
[submodule "f2fs-tools"]
	shallow = true
	path = vendor/f2fs-tools
	url = https://android.googlesource.com/platform/external/f2fs-tools.git
[submodule "e2fsprogs"]
	shallow = true
	path = vendor/e2fsprogs
	url = https://android.googlesource.com/platform/external/e2fsprogs.git
[submodule "boringssl"]
	shallow = true
	path = vendor/boringssl
	url = https://boringssl.googlesource.com/boringssl.git
[submodule "vendor/mkbootimg"]
	shallow = true
	path = vendor/mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg
[submodule "vendor/avb"]
	shallow = true
	path = vendor/avb
	url = https://android.googlesource.com/platform/external/avb
[submodule "vendor/libbase"]
	shallow = true
	path = vendor/libbase
	url = https://android.googlesource.com/platform/system/libbase
[submodule "vendor/libziparchive"]
	shallow = true
	path = vendor/libziparchive
	url = https://android.googlesource.com/platform/system/libziparchive
[submodule "vendor/adb"]
	shallow = true
	path = vendor/adb
	url = https://android.googlesource.com/platform/packages/modules/adb.git
[submodule "vendor/logging"]
	shallow = true
	path = vendor/logging
	url = https://android.googlesource.com/platform/system/logging.git
[submodule "vendor/fmtlib"]
	shallow = true
	path = vendor/fmtlib
	url = https://android.googlesource.com/platform/external/fmtlib.git
[submodule "vendor/libufdt"]
	shallow = true
	path = vendor/libufdt
	url = https://android.googlesource.com/platform/system/libufdt.git
[submodule "vendor/libusb"]
	shallow = true
	path = vendor/libusb
	url = https://android.googlesource.com/platform/external/libusb.git
