[submodule "core"]
	path = vendor/core
	url = https://android.googlesource.com/platform/system/core.git
[submodule "extras"]
	path = vendor/extras
	url = https://android.googlesource.com/platform/system/extras.git
[submodule "selinux"]
	path = vendor/selinux
	url = https://android.googlesource.com/platform/external/selinux.git
[submodule "f2fs-tools"]
	path = vendor/f2fs-tools
	url = https://android.googlesource.com/platform/external/f2fs-tools.git
[submodule "e2fsprogs"]
	path = vendor/e2fsprogs
	url = https://android.googlesource.com/platform/external/e2fsprogs.git
[submodule "boringssl"]
	path = vendor/boringssl
	url = https://boringssl.googlesource.com/boringssl.git
[submodule "vendor/mkbootimg"]
	path = vendor/mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg
[submodule "vendor/avb"]
	path = vendor/avb
	url = https://android.googlesource.com/platform/external/avb
[submodule "vendor/libbase"]
	path = vendor/libbase
	url = https://android.googlesource.com/platform/system/libbase
[submodule "vendor/libziparchive"]
	path = vendor/libziparchive
	url = https://android.googlesource.com/platform/system/libziparchive
[submodule "vendor/base"]
	path = vendor/base
	url = https://android.googlesource.com/platform/frameworks/base
[submodule "vendor/native"]
	path = vendor/native
	url = https://android.googlesource.com/platform/frameworks/native
[submodule "vendor/adb"]
	path = vendor/adb
	url = https://android.googlesource.com/platform/packages/modules/adb.git
[submodule "vendor/logging"]
	path = vendor/logging
	url = https://android.googlesource.com/platform/system/logging.git
[submodule "vendor/incremental_delivery"]
	path = vendor/incremental_delivery
	url = https://android.googlesource.com/platform/system/incremental_delivery
